# Python / Django
__pycache__/
*.py[cod]
venv/
env/
db.sqlite3
*.sqlite3
backend/media/
backend/staticfiles/
.env

# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/app/build/
android/.gradle/
android/local.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store

# Backups
backups/
